<div class="container">
  <div class="form-container">
    <h1>NEW GROUP</h1>
    <%= form_with(model:@group,scope:"group",local:true)do |f| %>
      <fieldset>
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name,id:"name" %>
      </fieldset>
      <fieldset>
          <%= f.label :icon, 'icon' %>
          <%= f.hidden_field :icon_cache %>
          <%= f.file_field :icon,id:"icon"%>
      </fieldset>
        <%= f.submit "Create",class:'button bg-blue' %>
    <% end %>
  </div>
</div>