<% provide(:title, @user.name) %>
<div class="container dashboard">
  <div class="logo d-flex">
    <div class="gravatar">
    <%= gravatar_for @user %>
    </div>
    <h1 class=""><%= @user.name%></h1>
  </div>
  <div class="p-list d-flex">
    <div class="home-l">
      <i class="fa fa-object-group  fa-2x text-light" aria-hidden="true"></i> <%= link_to  "groups", groups_path ,class:"border-bottom text-light"%>
    </div>
    <div class="home-l">
      <i class="fa fa-layer-group  fa-2x text-light" aria-hidden="true"></i> <%= link_to  "my transactions", transactions_path,class:"border-bottom text-light" %>
    </div>
    <div class="home-l">
      <i class="fa fa-address-card fa-2x text-light" aria-hidden="true"></i><%= link_to  "external transactions", external_path ,class:"text-light border-bottom "%>
    </div>
  </div>
  <div class="botton-b">
     <%= link_to 'LOGOUT', logout_path,method: :delete,class:'button' %>
  </div>
</div>